@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #ffe5e7da;
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
}